.eu-energy-label-container {
    border: 6px solid #00adef;
    border-radius: 15px;
    padding: 15px;
    max-width: 400px;
    width: 100%;
    display: block;
}

.eu-energy-label-header {
    border: 1px solid #00adef;
    height: 50px;
    margin-bottom: 15px;
}

.eu-energy-label-class {
  font-family: sans-serif;
}

.eu-energy-label-class div {
  position: relative;
  height: 20px;
  margin: 2px 0;
}
.eu-energy-label-class div:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100%;
  background: transparent;
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.eu-energy-label-class div:after {
  position: absolute;
  top: 0;
  left: 0.25em;
  height: 20px;
  line-height: 20px;
  color: #fff;
  text-transform: uppercase;
}

.eu-energy-label-class div.a3 {
  background: #3b7634;
  width: 25%;
}
.eu-energy-label-class div.a3:before {
  border-left: 8px solid #3b7634;
}
.eu-energy-label-class div.a3:after {
  content: 'a+++';
}

.eu-energy-label-class div.a2 {
  background: #3b7634;
  width: 28%;
}
.eu-energy-label-class div.a2:before {
  border-left: 8px solid #3b7634;
}
.eu-energy-label-class div.a2:after {
  content: 'a++';
}

.eu-energy-label-class div.a1 {
  background: #3b7634;
  width: 31%;
}
.eu-energy-label-class div.a1:before {
  border-left: 8px solid #3b7634;
}
.eu-energy-label-class div.a1:after {
  content: ' a+ ';
}

.eu-energy-label-class div.a {
  background: #3b7634;
  width: 33%;
}
.eu-energy-label-class div.a:before {
  border-left: 8px solid #3b7634;
}
.eu-energy-label-class div.a:after {
  content: ' a ';
}

.eu-energy-label-class div.b {
  background: #5da436;
  width: 36%;
}
.eu-energy-label-class div.b:before {
  border-left: 8px solid #5da436;
}
.eu-energy-label-class div.b:after {
  content: ' b ';
}
.eu-energy-label-class div.c {
  background: #a3cf2a;
  width: 39%;
}
.eu-energy-label-class div.c:before {
  border-left: 8px solid #a3cf2a;
}
.eu-energy-label-class div.c:after {
  content: ' c ';
}
.eu-energy-label-class div.d {
  background: #f6df1b;
  width: 42%;
}
.eu-energy-label-class div.d:before {
  border-left: 8px solid #f6df1b;
}
.eu-energy-label-class div.d:after {
  content: ' d ';
}
.eu-energy-label-class div.e {
  background: #f29020;
  width: 45%;
}
.eu-energy-label-class div.e:before {
  border-left: 8px solid #f29020;
}
.eu-energy-label-class div.e:after {
  content: ' e ';
}

.eu-energy-label-class div.f {
  background: #eb422c;
  width: 48%;
}
.eu-energy-label-class div.f:before {
  border-left: 8px solid #eb422c;
}
.eu-energy-label-class div.f:after {
  content: ' f ';
}

.eu-energy-label-class div.g {
  background: #ea2039;
  width: 51%;
}
.eu-energy-label-class div.g:before {
  border-left: 8px solid #ea2039;
}
.eu-energy-label-class div.g:after {
  content: ' g ';
}